/* Tablet pro */

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .header__navbar {
        justify-content: space-around;
    }
    .list__item {
        margin-right: 20px;
    }
    .header__navbar-btn {
        margin-right: 0px;
    }
    .main__top-event {
        margin-right: 50px;
        margin-left: 50px;
    }
    .wheel__img {
        width: 440px;
    }
    .whel-body {
        top: 22px;
        left: -5px;
    }
    #img__upmood {
        left: 56%;
    }
    .main__login {
        height: 1230px;
    }
    .main__login-container {
        flex-wrap: wrap;
    }
    .container__item {
        width: calc(25% - 15px);
    }
    .container__item:last-child {
        margin-top: 20px;
    }
    .left__row-count,
    .left__row-img,
    .left__row-card {
        margin-right: 20px;
    }
    .left__row2 {
        top: 8px;
        left: 111px;
    }
    #tutorialBox {
        top: 8px;
        width: 610px;
    }
    #giftBox {
        width: 460px;
    }
}


/* Moblie and Tablet */

@media only screen and (max-width: 1023px) {
    .hide-on-tl-and-mb {
        display: none;
    }
    .logo__link img {
        width: 100px;
    }
    .header__navbar-list {
        margin-right: 16px;
        margin-left: 16px;
    }
    .header__navbar-btn {
        margin: 0;
    }
    .btn__link {
        font-size: 1.4rem;
        width: 110px;
        height: 36px;
        line-height: 36px;
    }
    .list__item {
        margin-right: 16px;
    }
    .list__item-link {
        font-size: 1.4rem;
    }
    /* main__top */
    .main__top {
        height: 700px;
    }
    .main__top-event {
        margin: 0;
    }
    .event__left-title {
        width: 180px;
        margin: 0 auto;
    }
    .event__left-levelup {
        width: 250px;
        animation: shakeY infinite 2s linear;
    }
    .event__left-desc {
        font-size: 1.6rem;
    }
    .event__left-container {
        width: 260px;
        height: 260px;
    }
    .container__openings {
        font-size: 1.6rem;
        position: relative;
        font-family: 'FVFFernando08';
        color: #fff;
        z-index: 1;
        margin-top: 8px;
    }
    .container__levelnext {
        background-image: url(../images/box_lv_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 206px;
        height: 35px;
        color: #fff;
        line-height: 34 px;
        font-size: 1.8rem;
        margin: 8px auto;
    }
    .container__btn {
        animation-name: scalebigger;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        width: 90px;
        margin: 0 auto;
    }
    .container__desc {
        font-size: 1.4rem;
    }
    .container__currentlevel {
        background-image: url(../images/box_lv_white.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 206px;
        height: 35px;
        line-height: 34px;
        font-size: 1.8rem;
        margin: 8px auto;
    }
    .btn__img,
    .btn__img+img {
        width: 120px;
        margin-top: 8px;
    }
    .wheel__img {
        width: 350px;
        padding-top: 20px;
        margin: 0 auto 70px auto;
    }
    .whel-body {
        position: absolute;
        top: 19px;
        left: -1px;
        width: 350px;
    }
    .soccer__img {
        position: absolute;
        top: -25%;
        left: 44%;
        width: 40px;
        animation: boxBounce infinite 2.5s linear forwards;
    }
    .soccer__pitch {
        width: 100px;
    }
    .soccer__shadow {
        position: absolute;
        top: 35%;
        left: 45%;
        width: 34px;
    }
    .event__right-link {
        width: 120px;
        height: 50px;
        margin: 0 auto;
        animation: scalebigger 3s infinite linear;
        transform-origin: 50% 50%;
    }
    /* main__login */
    .main__login {
        height: 1160px;
    }
    .main__login-img {
        width: 250px;
    }
    .main__login-title {
        font-size: 1.6rem;
    }
    .attendance__link {
        width: 210px;
        margin-right: 12px;
        transition: transform 0.3s linear;
    }
    .attendance__count {
        font-size: 1.6rem;
        color: #fff;
        background-image: url(../images/miss_count\ \(1\).png);
        height: 40px;
        width: 120px;
        background-size: cover;
        text-align: center;
        line-height: 40px;
    }
    .container__item {
        background-image: url(../images/miss_box_claim.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        height: 300px;
        width: 30%;
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .container__item {
        height: 260px;
    }
    .container__item-img {
        width: 142px;
    }
    .main__login-container {
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-wrap: wrap;
    }
    .name__img {
        background-image: url(../images/miss_des.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 111px;
        height: 29px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 29px;
        text-transform: uppercase;
        color: #040050;
        font-family: 'Superstar';
        font-weight: 600;
    }
    /* main__gift */
    .main__gift {
        padding-top: 0;
        background-size: cover;
    }
    .main__gift-left {
        width: 55%;
        padding-left: 24px;
    }
    .left__row-img {
        width: 136px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .left__row-count {
        margin-right: auto;
    }
    .left__row-count span:first-child {
        font-size: 3rem;
    }
    .left__row-count span:last-child {
        font-size: 1.5rem;
    }
    .left__row-card {
        width: 62px;
        margin-right: 10px;
        position: relative;
        top: -8px;
    }
    .left__row-done {
        width: 120px;
    }
    .left__row2 {
        width: 63px;
        position: relative;
        top: 0%;
        left: 20.4%;
        margin-bottom: 10px;
    }
    .right__gamepad {
        width: 80px;
        margin-bottom: 52px;
        margin-left: 68px;
        animation: tada infinite 1.5s linear both;
    }
    .right__title {
        text-align: center;
        width: 200px;
        margin-bottom: 30px;
        animation: tadaBreak infinite linear 3s;
    }
    .right__title {
        text-align: center;
        width: 250px;
        margin-bottom: 30px;
        animation: tadaBreak infinite linear 3s;
    }
    .right__desc {
        width: auto;
        font-size: 1.6rem;
        margin: 0 auto;
        text-align: center;
    }
    .right__ball {
        width: 40px;
    }
    .main__gift-boxpurple {
        width: 66px;
    }
}


/* Tablet */

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}


/* Mobile */

@media only screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .grid.wide {
        padding: 0 10px;
    }
    .main__top {
        height: 1140px;
    }
    .main__top-event {
        flex-wrap: wrap;
    }
    .event__left-levelup {
        margin: 0 auto;
    }
    .event__left-slogan {
        width: 300px;
        margin: 0 auto;
    }
    .event__left {
        margin-right: 0px;
    }
    .event__left,
    .event__right {
        width: 100%;
    }
    .wheel__img {
        width: 290px;
    }
    .whel-body {
        top: 27px;
        left: 40px;
        width: 275px;
    }
    .main__login {
        height: 1940px;
    }
    .container__item {
        width: 62%;
        margin: 0px auto 18px auto;
    }
    .main__login-timeline::before {
        top: -2px;
        top: 9px;
        background-size: 70%;
        left: 4%;
        width: 50px;
        height: 45px;
    }
    .main__login-timeline::after {
        top: 10px;
        background-repeat: no-repeat;
        background-size: 70%;
        left: 26%;
        width: 50px;
        height: 45px;
    }
    .main__mission-name {
        justify-content: unset;
        flex-wrap: wrap;
    }
    .name__img {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .main__gift-uplevel {
        top: -8%;
        left: 18%;
        width: 200px;
    }
    .main__gift-boxpurple {
        width: 30px;
        top: -7%;
        left: 76%;
    }
    .header__navbar {
        justify-content: space-between;
    }
    .header__navbar-logo {
        display: flex;
        align-items: center;
    }
    .btn__link {
        font-size: 1.4rem;
        width: 94px;
        height: 30px;
        line-height: 30px;
    }
    .logo__link {
        margin-right: 12px;
    }
    .logo__menu {
        font-size: 2rem;
        display: block;
    }
    .header__navbar-menu {
        display: flex;
        flex-direction: column;
        background: #333;
        margin-right: 0;
        margin-left: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60%;
        z-index: 99;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }
    .menu__item-link {
        font-size: 2rem;
        color: #fff;
        position: relative;
    }
    .menu__item {
        padding: 10px;
    }
    .menu__close {
        display: block;
        position: absolute;
        top: 6px;
        right: 12px;
        font-size: 3rem;
        color: white;
    }
    .main__gift-wrapper {
        flex-wrap: wrap;
    }
    .main__gift-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .main__gift-right {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .right__gamepad {
        margin-left: 0;
    }
    .left__row-img {
        width: 120px;
    }
    .left__row2 {
        width: 58px;
        position: relative;
        top: 2%;
        left: 21.4%;
        margin-bottom: 10px;
    }
    .right__ball {
        top: 14%;
        left: 49%;
    }
    .right__gamepad2 {
        top: 12%;
        left: -36%;
    }
}